* {
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background: #2d3436 100%;
}

.head {
  display: inline-block;
  margin-left: 110px;
}

.head:hover {
  color: salmon;
}
