* {
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background: #2d3436 100%;
  padding-bottom: 40px;
}

.head {
  margin-left: 110px;
}

.item {
  display: inline-block;
  color: rgb(109, 109, 109);
  padding: 15px;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  transition: 0.5s;
}

.item:hover {
  color: #19d7f8;
}

.item1 {
  color: white;
}

.title {
  background: -webkit-linear-gradient(60deg, #fd00da, #19d7f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mypic {
  box-shadow: 2px white;
  display: block;
  margin-top: 70px;
  margin-left: 150px;
  border-top-left-radius: 100px;
}

.title1 {
  display: block;
  margin-top: 50px;
  margin-left: 50px;
  font-size: 50px;
}
.descrip1 {
  font-size: 15px;
  margin-left: 120px;
  margin-top: 20px;
  color: gray;
  display: block;
}
.middle {
  display: block;
  justify-content: center;
}

.bottom {
  display: block;
  margin-top: 50px;
  margin-left: 150px;
}

.title2 {
  font-size: 50px;
  margin-bottom: 25px;
  text-align: center;
}

.card {
  vertical-align: center;
  transition: 1s;
}

.card:hover {
  margin-left: 20px;
  margin-right: 20px;
}

.card-text {
  color: rgb(109, 109, 109);
  /*visibility: hidden;*/
}

/*contact*/
.middle3 {
  display: block;
  justify-content: center;
  margin: 100px;
}
.t1 {
  margin-left: 100px;
  color: white;
}
.facebook:hover {
  text-decoration: underline;
  color: #19d7f8;
}

.email:hover {
  text-decoration: underline;
  color: #19d7f8;
}

.td1 {
  padding-left: 60px;
  color: rgb(186, 247, 252);
}

.td2 {
  font-weight: bold;
}

.contact {
  margin-top: 20px;
  display: block;
  justify-content: center;
  padding: 20px;
  border-radius: 50px;
  margin-bottom: 50px;
}

.box-transparent {
  top: 20px;
  left: 20px;
  border-radius: 50px;
  background-color: rgba(100, 100, 100, 0.6);
  padding: 20px;
}
